body {
    padding-top: 28px;
    width: 100%;

    font-family: "Microsoft soft";
}

h1 {
    text-align: center;
    color: #1E88C7
}

/* 棋盘样式 */
.board {
    display: grid;
    grid-template-columns: repeat(15, 30px);
    grid-template-rows: repeat(1, 30px); /* 只有一行 */
    gap: 1px;
    background-color: #f9f9f9;
    width: 450px; /* 适应15个单元格的宽度 */
    margin: 50px auto 0; /* 上边距设为50px，自动左右边距水平居中 */
    text-align: center;
}

/* 棋盘单元格样式 */
.cell {
    width: 30px;
    height: 30px;
    background-color: #e6c20e;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 文本样式 */
.board-text {
    display: none;
    position: fixed;
    margin: 10px 0; /* 上下边距 */
    text-align: center; /* 水平居中文本 */
}

/* 按钮容器样式 */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* 与棋盘的间距 */
}

/* 按钮样式 */
.button {
    padding: 10px 20px; /* 内边距 */
    margin: 0 10px; /* 左右边距，避免按钮之间重叠 */
    font-size: 16px; /* 字体大小 */
    cursor: pointer;
    border: 1px solid #000; /* 边框 */
    background-color: #fff; /* 背景色 */
}

/* 棋子样式（示例） */
.black, .white {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.black {
    background-color: #000;
}

.white {
    background-color: #fff;
}