<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Gomoku</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
    <script src="../static/lib/jquery-3.6.0.min.js"></script>
    <script src="../static/lib/script.js"></script>
</head>

<body>

    <h1>Gomoku Playground v0.1</h1>
    



    <div id='game-board', class="board"></div>
    <div class="board-text", id="choice-notice">用于通知用户选择先后手成功</div>
    <div class="button-container">
        <button id = "player-black">选择先手</button>
        <button id="player-white">选择后手</button>
    </div>

</body>

</html>